body{
  counter-reset: questioncount 14;
}
.choice {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #000;
  border-radius: 100%;
  box-sizing: content-box;
  padding: 8px;
  margin-left: 1.5em;
  transition: all .2s;
  position: relative;
}
.choice.wrong {
  color: #f00;
}
.choice.right {
  color: #0f0;
}
.choice.right ~ * {--right: inherit; }
.choice:checked {
  box-shadow: inset 0 0 0 4px;
}

.question {
  border: none;
  counter-increment: total questioncount;
  counter-reset: choice;
  display:block;
  margin-top:10px;
  font-weight:bold;
  font-size:20px;
}
.question:before { /* "Question #n" */
  background: #333;
  color: #fff;
  font-size:17px;
  font-weight:normal;
  display: inline-block;
  padding: 8px;
  margin-right:10px;
  content: 'Question: #' counter(questioncount);
}

.question:nth-child(odd) { /* f... */
  counter-reset: choice;
}

.question ~ .choice { /* a, b, c, d | f, g, h */
  counter-increment: choice;
}
.choice.right:checked {
  counter-increment: correct choice;
}
.choice.wrong:checked {
  counter-increment: incorrect choice;
}
.question ~ .choice:before {
  color: #333;
  content: counter(choice, upper-alpha) ') ';
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -1.5em;
}

.results {
  border-top: 2px solid #333;
  display: block;
  margin-top: 16px;
  padding: 8px;
  text-align: left;
}
.results_right:before {
  content: var(--string) ': ';
  font-weight: bold;
  width: 5em;
  display: inline-block;
}
.results_right:before { --string: 'Correct' }

.results_right:after {
  content: counter(var(--counter)) ' out of ' counter(total);
}
.results_right:after { --counter: correct; }
.answer-section input[type=radio]{
  padding:10px;
  line-height: unset;
  margin: 5px 10px 5px 50px;
  cursor: pointer;
}
.map-answering{
  height:810px;
}
.map-answering img{
  width:50%;
  float:left;
}
.map-answering .answer-section {
  width: 50%;
  float:right;
}