.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  min-width: 200px;
  padding:0 15px;
  height: 100px;
  background-color: #eee;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 4px;
  cursor: move;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  font-size:25px;
  font-weight: bold;
}